* {
    box-sizing: border-box;
}
body {
    background-color: floralwhite;
    background-size: cover;
}

.container {
    max-height: 100vh;
}

#ui {
    background-color: transparent;
    padding: 2.5rem;
    margin-top: 3rem;
}

#ui h1 {
    color: #000;
    font-weight: 700;
}

#ui label {
    color: #000;
    font-weight: 400;
}



.btn-primary {
    color: #fff;
    background-color: limegreen !important;
}
.hidden {
    display: none;
}

.icon {    
    width: 24px;
    height: 24px;
    
    top: 32px;
    right: 5px;
    pointer-events: none;
    z-index: 2; 
    
}

.icon .icon-succcess {
    fill: green;
}

.icon .icon-error {
    background-color: red;
}

.error-message {
    font-size: .85rem;
    color: red;
}